In [3]:
import pandas as pd
import json

In [12]:

all_rows = []

with open('/home/prateiksinha/ClimaX/output_jsons/final_json_0001.json', 'r') as f:
    sample = json.load(f)[0]
row = []
for i in sample['metrics'].keys():
    for j in sample['metrics'][i].keys():
        row.append(j)
all_rows.append(row)

import os
dir = '/home/prateiksinha/ClimaX/output_jsons'
count = 0
for file in os.listdir(dir):
    with open(os.path.join(dir, file), 'r') as f:
        data1 = json.load(f)
    data = data1[0]
    row = []
    for i in data['metrics'].keys():
        for j in data['metrics'][i].keys():
            row.append(data['metrics'][i][j])
    all_rows.append(row)
    count += 1
    print(str(count), ' jsons done  ', end='\r')

In [25]:
df = pd.DataFrame(all_rows[1:], columns=all_rows[0])
df['hours'] = list(range(1,df.shape[0]+1))

In [30]:
df.head()

,w_mse_2m_temperature_1_hours,w_mse,w_rmse_2m_temperature_1_hours,w_rmse,acc_2m_temperature_1_hours,acc,hours
0,0.417767,0.417767,13.854271,13.854271,0.175798,0.175798,1
1,0.394524,0.394524,13.463360,13.463360,0.165493,0.165493,2
2,0.464470,0.464470,14.608165,14.608165,0.192041,0.192041,3
3,0.383149,0.383149,13.267861,13.267861,0.107002,0.107002,4
4,0.514764,0.514764,15.378742,15.378742,0.142398,0.142398,5

In [32]:
df.to_csv('/home/prateiksinha/ClimaX/output_csv/1990_3weeks.csv', index=None)